## SvenCo-op map CFG file - Hostile Planet
## Map Author:  Tylak - tylak@london.com
## Survival Gamemode implemented by: Orphanage

weapon_glock
weapon_crowbar
ammo_9mm 5
ammo_357 2
ammo_buckshot 2

skill 2

mp_timelimit 40

mp_fraglimit 0

mp_flashlight 1

mp_falldamage 0

mp_forcerespawn 0

mp_weaponstay 1

## Physics stuff. 
## Don't change unless you know what you're doing!
sv_accelerate 10
sv_airaccelerate 10
sv_friction 4
sv_gravity 800
sv_maxspeed 270
sv_wateraccelerate 10
sv_waterfriction 1
mp_disable_autoclimb 1

globalsoundlist ../../maps/hplanet.gsr

map_script survival_generic
