## SvenCo-op map CFG file - Suspension
## Map Author: Hezus - hezussupastar@hotmail.com

## Scripts
globalmodellist ../../maps/suspension.gmr
globalsoundlist ../../maps/suspension.gsr
sentence_file sound/bridge/bridge_sentences.txt
materials_file ../bridge/suspension_materials.txt

map_script bridge/bridge3
mapcyclefile mapcycle.txt

## Weapon setup
nomedkit
mp_banana 0
mp_weaponstay 0

## Skill CFGs
skill 3
mp_multiplespawn 1
mp_monsterpoints 1
mp_fraglimit 0
mp_flashlight 1
mp_falldamage 1
mp_forcerespawn 0
mp_allowgaussjump 1
mp_dropweapons 0
mp_npckill 0
mp_respawndelay 10
mp_survival_supported 1
mp_survival_starton 0
mp_survival_startdelay 0
mp_disable_pcbalancing 1

## Physics
mp_disable_autoclimb 1
sv_accelerate 10
sv_airaccelerate 10
sv_airmove 1
sv_friction 4
sv_gravity 800
sv_maxspeed 270
sv_wateraccelerate 10
sv_waterfriction 1
sv_zmax 9000
mp_telefrag 0
mp_observer_mode 1