globalmodellist ../hunger/hungerglobal.txt
forcepmodels th_dave;th_einar;th_gangster;th_host;th_jack;th_neil;th_nurse;th_nypdcop;th_orderly;th_patient;th_paul;th_worker;th_cl_suit;th_civpaul;th_einstein;th_slick

nomedkit

skill 2
mp_timelimit 0
mp_fraglimit 0
mp_flashlight 1
mp_falldamage 1
mp_forcerespawn 0
mp_weaponstay 0
mp_banana 0

## Physics stuff. 
sv_accelerate 10
sv_airaccelerate 10
sv_friction 4
sv_gravity 800
sv_wateraccelerate 10
sv_waterfriction 1

mp_weapon_respawndelay -1
mp_ammo_respawndelay -1
mp_item_respawndelay -1
mp_allowmonsterinfo 0
npc_dropweapons 1
mp_disable_autoclimb 1
mp_suitpower 0

mp_observer_mode 1

map_script th_escape/th_escape